/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 2 version
*/


/*
Colors used

Text Color (white): #FFFFFF;
Button background (light green): #3BEC4B;
Button text (dark blue): #0A084D;
Links visited (light blue): #05676e;
Links selected (gray green):#489c79;
 */

 @import url('https://fonts.googleapis.com/css2?family=Rye&display=swap&family=Cabin+Sketch&display=swap');

 * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }


body {
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
    background-color: #000000;
  }

h1 {
    color:  #FFFFFF;
    text-align: center;
    font-size: 3rem;
  }

 h2 {
    color:  #FFFFFF;
    line-height: 30PX;
    font-size: 2rem;
}

a {
    color:  #FFFFFF;
    line-height: 30PX;
}

a:hover {
  /* No underlining when hovering over a link */
  text-decoration: none;
}

a:visited {
    /* visited link */
    color:  #FFFFFF;
  }
  
  a:hover{
    /* No underlining when hovering over a link */
    text-decoration: none;
  }
  
  a:focus{
    /* No underlining when hovering over a link */
    text-decoration: none;
  } 

a:active {
    /* selected link */
    color: #489c79;
  }

p {
    color:  #FFFFFF;
    font-size: 1.5rem;
    line-height: 30PX;
    margin: 10px;
}

label {
    color:  #FFFFFF;
    line-height: 30PX;
}

table {
    line-height: 30PX;
    margin: auto;
    text-align: center;
    background: rgba(1,1,1,0.7);
    width: 85%;
}

table {
    border: 1px solid #FFFFFF;
    color:  #FFFFFF;
    font-size: 25px; 
    text-decoration: none;
  }

th {
    border: 1px solid #FFFFFF;
    color:  #FFFFFF;
    font-size: 25px; 
    text-decoration: none;
  }

td {
    border: 1px solid #FFFFFF;
    color:  #FFFFFF;
    font-size: 25px; 
    text-decoration: none;
  }

button {
    /* overwrites browser defaults and resets the border */
    border: none;
    /* takes the font from the outer container */
    font-family: inherit;
    /* styles the background color, font color, and text decoration (underline, etc.) of the button */
    background-color: #3BEC4B;
    text-decoration: none;
    /*adds spacing to the button (this will be discussed more in-depth later) */
    padding: 10px;
    border-radius: 3px;
    /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
    border-bottom: 2px solid rgba(1,1,1,0.7);
  }

  button:hover, button:focus {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.7;
  }

  .a__button {
    color: #0A084D;
    text-decoration: none;
    font-weight: bolder;
  }

  .navigation-list__item {
    text-decoration: none;
    color:  #FFFFFF;
    font-size: 1.5rem;
  }

  .navigation-list__item:visited {
    text-decoration: none;
    color:  #FFFFFF;
  }

  .navigation-list__item:active {
    text-decoration: none;
    color:  #FFFFFF;
  }

  .navigation__logo {
    position: relative;
    top: 20px;
    left: 20px;
  }

  .profile__portrait {
    float: left;
    width: 250px;
    margin-right: 40px;
    border-radius: 50%;
  }

  .page-footer {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .profile{
    max-width: 1000px;
    height: 350px;
    margin: 0 auto;
    background: rgba(1,1,1,0.7);
    padding: 10px;
   text-align: center;
  }

  .about_section{
    max-width: 1000px;
    height: 350px;
    margin: 0 auto;
    background: rgba(1,1,1,0.7);
    padding: 20px;
   text-align: center;
  }
  
  .main_contact{
    max-width: 1000px;
    height: 500px;
    margin: 0 auto;
    background: rgba(1,1,1,0.7);
    padding: 20px;
   text-align: center;
  }

  .form_contact {
    margin-bottom: 10px;
  }
  label {
    display: inline-block;
    width: 150px;
    text-align: left;
  }

  .page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 20px;
  }

  .page-header__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
  }

  .page-header__item:last-child {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right;
  }

  .page-header__item:first-child {
    border-radius: 50%;
  }

  .navigation-list {
    list-style-type: none;
  }

  .navigation-list li {
    display: inline-block;
    margin-left: 15px;
  }



/* start grid fallback */
.grid__item {
    display: inline-block;
    width: 33%;
   }
   /* end grid fallback */
   
   @supports (display: grid) {
    .grid {
      display: -ms-grid;
      display: grid;
      /* grid-template-columns: 300px 300px 300px; fractions are better than pixels - they are responsive */
      -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px;
      margin: 0;
      padding: 20px;
      text-align: center;
    }
    .grid__item {
      background: rgba(1,1,1,0.7);
      width: auto;
      min-height: auto;
      margin: 0;
    }
   }

   @media all and (max-width: 500px) {
    .grid {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
    }
    h1 {
        font-size: 1.5rem;
    }
    p, h2{
        font-size: .7rem;
    }
  }

  @media all and (min-width: 500px) and (max-width: 750px){
    .grid {
      -ms-grid-columns: 1fr 20px 1fr;
      grid-template-columns: 1fr 1fr;
    }
    h1 {
        font-size: 2rem;
    }
    p, h2{
        font-size: 1rem;
    }

  }

  @media all and (max-width: 750px){
    /* shared code */
    .grid {
        grid-gap: 10px;
      }
    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
      }
  }

.cv__link{
    text-align: center;
    padding: 10px;
}

.div__button{
    text-align: center;
    padding: 10px;
}

.about__h2{
    height: 45px;
}

  .button {
    /* overwrites browser defaults and resets the border */
    border: none;
    display: inline-block;
    /* takes the font from the outer container */
    font-family: inherit;
    /* styles the button */
    background-color: #489c79;
    color: --primary-color;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    /* width of the border, type, color */
    border-bottom: 2px solid rgba(1,1,1,0.7);
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    width: 190px;
  }

  .button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

svg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30PX;
  margin-bottom: 30PX;
  width: 75%;
  background: #FFFFFF;
}

@-webkit-keyframes color-change {
    0% {
      fill: #edc655;
    }
    50% {
      fill: #fcffad;
    }
    100% {
        
      fill: #f76414;
    }
  }

@keyframes color-change {
    0% {
      fill: #edc655;
    }
    50% {
      fill: #fcffad;
    }
    100% {
        
      fill: #f76414;
    }
  } 

.sun {
    -webkit-animation: 4s color-change infinite alternate linear;
            animation: 4s color-change infinite alternate linear;
  }

  @-webkit-keyframes cloud-move {
    from {
        fill: #636262;
      -webkit-transform: translate(0, 50px);
              transform: translate(0, 50px);
    }
    to {
        fill: #636262;
      -webkit-transform: translate(200px, 50px);
              transform: translate(200px, 50px);
    }
  }

  @keyframes cloud-move {
    from {
        fill: #636262;
      -webkit-transform: translate(0, 50px);
              transform: translate(0, 50px);
    }
    to {
        fill: #636262;
      -webkit-transform: translate(200px, 50px);
              transform: translate(200px, 50px);
    }
  }
  
.cloud-front {
      -webkit-animation: 20s cloud-move infinite alternate linear;
              animation: 20s cloud-move infinite alternate linear;
    }

@-webkit-keyframes cloud-move-reverse {
        from {
          -webkit-transform: translate(446px, 48px);
                  transform: translate(446px, 48px);
        }
        to {
          -webkit-transform: translate(100px, 48px);
                  transform: translate(100px, 48px);
        }
      }

@keyframes cloud-move-reverse {
        from {
          -webkit-transform: translate(446px, 48px);
                  transform: translate(446px, 48px);
        }
        to {
          -webkit-transform: translate(100px, 48px);
                  transform: translate(100px, 48px);
        }
      }

.cloud-back {
        -webkit-animation: 25s cloud-move-reverse infinite alternate linear;
                animation: 25s cloud-move-reverse infinite alternate linear;
      }

.grid__item_about {
    display: inline-block;
    width: 33%;
}
   /* start grid fallback */
.grid__item_about {
    display: inline-block;
    width: 33%;
   }
   /* end grid fallback */
       
     @supports (display: grid) {
        .grid_about {
          display: -ms-grid;
          display: grid;
          /* grid-template-columns: 1fr 1fr 1fr 1fr; fractions are better than pixels - they are responsive */
          -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          grid-gap: 20px;
          margin: 0;
          padding: 20px;
          text-align: center;
        }
        .grid__item_about {
          background: rgba(1,1,1,0.7);
          width: auto;
          min-height: auto;
          margin: 15px;
        }
       }

       @media all and (max-width: 500px) {
        .grid_about {
          -ms-grid-columns: 1fr;
          grid-template-columns: 1fr;
        }
      }
    
      @media all and (min-width: 500px) and (max-width: 1200px){
        .grid_about {
          -ms-grid-columns: 1fr 20px 1fr;
          grid-template-columns: 1fr 1fr;
        }
    
      }
    
      @media all and (max-width: 1200px){
        /* shared code */
        .grid {
            grid-gap: 10px;
          }
        .grid__item:last-child {
            grid-column: auto / auto;
            grid-row: auto / auto;
          }
      }
      

      @-webkit-keyframes gopher-rotate {

        from {
            -webkit-transform:  rotate(360deg);
                    transform:  rotate(360deg);
        }
        to {
            -webkit-transform: rotate(-360deg);
                    transform: rotate(-360deg);
        }
     }
      

      @keyframes gopher-rotate {

        from {
            -webkit-transform:  rotate(360deg);
                    transform:  rotate(360deg);
        }
        to {
            -webkit-transform: rotate(-360deg);
                    transform: rotate(-360deg);
        }
     }

.gopher {
        -webkit-animation: 
        5s gopher-rotate infinite alternate linear;
                animation: 
        5s gopher-rotate infinite alternate linear;
      }