
/*
Colors used

Text Color (white): #FFFFFF;
Button background (light green): #3BEC4B;
Button text (dark blue): #0A084D;
Links visited (light blue): #05676e;
Links selected (gray green):#489c79;
 */

 :root {
  --primary-color: #fff;
  --button-background-color: #3BEC4B;
  --dark-blue: #0A084D;
  --light-blue: #05676e;
  --gray-green:#489c79;
}

@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap&family=Cabin+Sketch&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
  background-color: black;
}

h1 {
    color: #FFFFFF;
    line-height: 30px;
    text-align: center;
    font-size: 3rem;
}

h2 {
  color: #FFFFFF;
  line-height: 30px;
  font-size: 2rem;
}

a {
  color: #FFFFFF;
  line-height: 30px;
}

a:hover {
/* No underlining when hovering over a link */
text-decoration: none;
}

a:visited {
  /* visited link */
  color: #FFFFFF;
}

a:hover, a:focus{
  /* No underlining when hovering over a link */
  text-decoration: none;
} 

a:active {
  /* selected link */
  color: #489c79;
}

p {
  color: #FFFFFF;
  font-size: 1.5rem;
  line-height: 30px;
}

label {
  color: #FFFFFF;
  line-height: 30px;
}

table {
  line-height: 30px;
  margin: auto;
  text-align: center;
  background:rgba(1,1,1,0.7);
  width: 85%;
}

table, th, td {
  border: 1px solid white;
  color: white;
  font-size: 25px; 
  text-decoration: none;
}

button {
  /* overwrites browser defaults and resets the border */
  border: none;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: #3BEC4B;
  text-decoration: none;
  /*adds spacing to the button (this will be discussed more in-depth later) */
  padding: 10px;
  border-radius: 3px;
  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

button:hover, button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.7;
}

.a__button {
  color: #0A084D ;
  text-decoration: none;
  font-weight: bolder;
}

.navigation-list__item {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1.5rem;
}

.navigation-list__item:visited {
  text-decoration: none;
  color: #FFFFFF;
}

.navigation-list__item:active {
  text-decoration: none;
  color: #FFFFFF;
}

.navigation__logo {
  position: relative;
  top: 20px;
  left: 20px;
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.profile{
  max-width: 1000px;
  height: 350px;
  margin: 0 auto;
  background:rgba(1,1,1,0.7);
  padding: 10px;
 text-align: center;
}

.about_section{
  max-width: 1000px;
  height: 350px;
  margin: 0 auto;
  background:rgba(1,1,1,0.7);
  padding: 20px;
 text-align: center;
}

.main_contact{
  max-width: 1000px;
  height: 600px;
  margin: 0 auto;
  background:rgba(1,1,1,0.7);
  padding: 20px;
 text-align: center;
}

.form_contact {
  margin-bottom: 10px;
}
label {
  display: inline-block;
  width: 150px;
  text-align: left;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.page-header__item:first-child {
  border-radius: 50%;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}



/* start grid fallback */
.grid__item {
  display: inline-block;
  width: 33%;
 }
 /* end grid fallback */
 
 @supports (display: grid) {
  .grid {
    display: grid;
    /* grid-template-columns: 300px 300px 300px; fractions are better than pixels - they are responsive */
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0;
    padding: 20px;
    text-align: center;
  }
  .grid__item {
    background:rgba(1,1,1,0.7);
    width: auto;
    min-height: auto;
    margin: 0;
  }
 }

 @media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
  h1 {
      font-size: 1.5rem;
  }
  p, h2{
      font-size: .7rem;
  }
}

@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    grid-template-columns: 1fr 1fr;
  }
  h1 {
      font-size: 2rem;
  }
  p, h2{
      font-size: 1rem;
  }

}

@media all and (max-width: 750px){
  /* shared code */
  .grid {
      grid-gap: 10px;
    }
  .grid__item:last-child {
      grid-column: auto / auto;
      grid-row: auto / auto;
    }
}

.cv__link{
  text-align: center;
}

.div__button{
  text-align: center;
  padding: 10px;
}

.button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the button */
  background-color: #357b70;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition-duration: 0.2s;
  transition-property: opacity;
}

.button:hover,
.button:focus {
/* lets the mouse appear as a hand when hovering over the button */
cursor: pointer;
/* reduces the opacity of the button to 80% */
opacity: 0.8;
}

svg{
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 30px;
margin-bottom: 30px;
width: 75%;
background:white;
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
} 

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
      fill: gray;
    transform: translate(0, 50px);
  }
  to {
      fill: gray;
    transform: translate(200px, 50px);
  }
}

.cloud-front {
    animation: 20s cloud-move infinite alternate linear;
  }

@keyframes cloud-move-reverse {
      from {
        transform: translate(446px, 48px);
      }
      to {
        transform: translate(100px, 48px);
      }
    }

.cloud-back {
      animation: 25s cloud-move-reverse infinite alternate linear;
    }

.grid__item_about {
  display: inline-block;
  width: 33%;
}
 /* start grid fallback */
.grid__item_about {
  display: inline-block;
  width: 33%;
 }
 /* end grid fallback */
     
   @supports (display: grid) {
      .grid_about {
        display: grid;
        /* grid-template-columns: 1fr 1fr 1fr 1fr; fractions are better than pixels - they are responsive */
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
        margin: 0;
        padding: 20px;
        text-align: center;
      }
      .grid__item_about {
        background:rgba(1,1,1,0.7);
        width: auto;
        min-height: auto;
        margin: 0;
      }
     }

     @media all and (max-width: 500px) {
      .grid_about {
        grid-template-columns: 1fr;
      }
    }
  
    @media all and (min-width: 500px) and (max-width: 1000px){
      .grid_about {
        grid-template-columns: 1fr 1fr;
      }
  
    }
  
    @media all and (max-width: 1000px){
      /* shared code */
      .grid {
          grid-gap: 10px;
        }
      .grid__item:last-child {
          grid-column: auto / auto;
          grid-row: auto / auto;
        }
    }
    

    @keyframes gopher-rotate {

      from {
          transform:  rotate(360deg);
      }
      to {
          transform: rotate(-360deg);
      }
   }

.gopher {
      animation: 
      5s gopher-rotate infinite alternate linear;
    }